{% extends 'SkahrSaltCityBundle::base.html.twig' %}
{% block sales %}
	{{ render(controller(
            'SkahrSaltCityBundle:Sale:topSales',
            { 'max': 6 }
     )) }}
{% endblock %}
{% block body %}

        



<div class="container">
<div class="text-justified">
	<h2>Помните, Ваше здоровье в Ваших руках!</h2>
	<p>Только у нас можно окунуться в восхитительный мир гармонии души и тела! Специалисты Соль Сити воссоздали целебный микроклимат  настоящих соляных подземных пещер! Благодаря такому ПРАВИЛЬНОМУ микроклимату Ваши лёгкие очистятся и запустится механизм самоочищения, улучшится самочувствие, окрепнет иммунитет, ну а наша уютная обстановка, поможет Вам расслабиться, избавиться от стрессов, обрести душевное равновесие. Мы не предлагаем Вам медицинскую услугу, наше кредо - это здоровый образ жизни! Прогулки на свежем воздухе, закаливание, занятия физкультурой + соляная пещера Соль Сити- всё вместе поможет Вам снизить медикаментозную нагрузку на организм при различных заболеваниях легких, астме, аллергии, а также частых ОРВИ и гриппе.</p>
	
	
<h3>Что такое соляная пещера?</h3>

        <p>
            <em>Соляная пещера (галотерапия)</em> – это созданная руками профессионалов настоящая пещера, с  особым микроклиматом, сходным с микроклиматом подземных соляных пещер, который характеризуется гипоаллергенной и гипобактериальной воздушной средой, аэроионизацией, комфортными микроклиматическими условиями, а также специальным аудио-психотерапевтическим воздействием.
        </p>
	<p>
            <em>ГАЛОТЕРАПИЯ</em> – это ПРОФИЛАКТИКА ОРВИ и гриппа, заболеваний бронхолегочной системы.<br/>
            <em>ГАЛОТЕРАПИЯ</em> имеет общеукрепляющий, очищающий эффект, поэтому она показана ВСЕМ ЖИТЕЛЯМ БОЛЬШИХ ГОРОДОВ, работникам офисов, дышащих загрязненным кондиционированным воздухом, и в особенности курильщикам. 
        </p>
	<a href="{{ path('SkahrSaltCityBundle_salt') }}">подробнее...</a>

</div>
</div>
<div class="con">
<div class="item-photo"><a href="{{ path('SkahrSaltCityBundle_salt_photo') }}"><img src="{{ asset('images/photos/thumb1.jpg') }}"></a></div>
<div class="item-photo"><a href="{{ path('SkahrSaltCityBundle_salt_photo') }}"><img src="{{ asset('images/photos/thumb3.jpg') }}"></a></div>
<div class="item-photo"><a href="{{ path('SkahrSaltCityBundle_salt_photo') }}"><img src="{{ asset('images/photos/thumb8.jpg') }}"></a></div>
</div>
<div style="text-align: justify; background: #1d959a; clear: both; border-radius: 20px; padding: 10px; padding-bottom: 20px; margin-bottom: 30px">
<div class="container">
	<h2 style="line-height: 200%;  color: white;">Записаться на сеанс в соляную пещеру "Соль Сити" вы всегда можете по телефону единой справочной:</h2>
	<h1 style="color: white;">380-90-04</h1>
	</div>
</div>
<div class="container">
	<a id="prices"></a>
	<h1>Наши Тарифы</h1>
	<p>Здоровье должно быть доступно всем, поэтому наши цены тоже доступны</p>

<div class="con">
	{{ render(controller(
            'SkahrSaltCityBundle:Price:mainPrices',
            { 'max': 10 }
     )) }}
</div>
</div>
<div style="background: #7bdde2; margin-top: 20px; padding-bottom: 20px;">
<div class="container">
	<a id="contacts"></a>
	<h1 style="color: white">Найти нас легко:</h1>
	<p>Телефон единой справочной: <b>380-90-04</b></p>
    <p>Адрес: ул. Тихвинская, д. 1<br/>
       Время работы: Пн-Пт: 9<sup> 00</sup> - 21<sup> 00</sup>, Сб-Вс: 10<sup> 00</sup> - 18<sup> 00</sup>
    </p>
    <div style="float: left; margin-right: 20px">
    	<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=eiI1WZ1jnRtnrspbLhvlwgp4Lk3_3ift&width=500&height=300"></script>
    </div>
	<div><img src="{{ asset('images/photos/thumb_outer.jpg') }}"></div>
</div>
</div>
{% endblock %}