{% extends 'SkahrSaltCityBundle::base.html.twig' %}
{% block title %}Сертификаты{% endblock%}

{% block body %}
<div class="container">
    <h2>Сертификаты</h2>
	<div class="con">
		<div class="item-photo"><a href="{{ asset('images/certs/pic2.jpg') }}" target="_blank"><img src="{{ asset('images/certs/pic2.jpg') }}"></a></div>
		<div class="item-photo"><a href="{{ asset('images/certs/pic4.jpg') }}" target="_blank"><img src="{{ asset('images/certs/pic4.jpg') }}"></a></div>
		<div class="item-photo"><a href="{{ asset('images/certs/pic6.jpg') }}" target="_blank"><img src="{{ asset('images/certs/pic6.jpg') }}"></a></div>
		<div class="item-photo"><a href="{{ asset('images/certs/pic7.jpg') }}" target="_blank"><img src="{{ asset('images/certs/pic7.jpg') }}"></a></div>
	</div>
</div>
{% endblock %}