{% for entity in entities %}
	<div class="col-lg-4 col-md-6 col-xs-12 text-center">
	   <div class="panel panel-info">
            <div class="panel-heading">
                {% if entity.priceinfo %}
                <a data-toggle="collapse" href="#collapseP{{ loop.index }}" aria-expanded="false" style="display: block; height: 100%">
                    <h1>{{ entity.pricename }} <small style="color: #1d959a"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></small></h1>
                </a>
                {% else %}
                    <h1>{{ entity.pricename }}</h1>
                {% endif %}
            </div>
            <div class="panel-body">
                {% if entity.priceinfo %}
                    <div class="collapse" id="collapseP{{ loop.index }}" style="position: absolute; left: 10%; bottom: 10%; z-index: 10; width: 80%; padding: 5%; background: #f8f8f8">
                        {{ entity.priceinfo }}
                    </div>
                {% endif %}
                <h1>{{ entity.price }} <small style="color: #1d959a"><span class="glyphicon glyphicon-ruble" aria-hidden="true"></span></small></h1>
                <h2 style="color: #98d8e0"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  {{ entity.seats }}</h2>
                <h3 style="color: #98d8e0"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>   30</h3>
            </div>
        </div>
    </div>
{% endfor %}