{% extends 'SkahrSaltCityBundle::base.html.twig' %}
{% block title %}Акции{% endblock %}
{% block body -%}
<div class="container">
    <h1>События</h1>
	{% if app.session.get('login') %}
	<a href="{{ path('sale_new') }}">Создать новое событие</a>
	{% endif %}
{#
        {% for entity in entities %}
		
            {% if entity.cat %}
			<div class="panel panel-danger">
				<div class="panel-heading">
    				<h3 class="panel-title">Акция</h3>
  				</div>
			{% else %}
			<div class="panel panel-info">
				<div class="panel-heading">
    				<h3 class="panel-title">Новости</h3>
  				</div>
			{% endif %}
			<div class="panel-body">
				<p>{{ entity.salestext }}</p>
				<small>{% if entity.datecr %}{{ entity.datecr|date('Y-m-d') }}{% endif %}</small>
				{% if app.session.get('login') %}
        		<a href="{{ path('sale_edit', { 'id': entity.id }) }}">Править</a>
				{% endif %}
			</div>
			</div>
        {% endfor %}
#}
	{% for sale in pagination %}
		{% if sale.cat %}
			<div class="panel panel-danger">
				<div class="panel-heading">
    				<h3 class="panel-title">Акция</h3>
  				</div>
		{% else %}
			<div class="panel panel-info">
				<div class="panel-heading">
    				<h3 class="panel-title">Новости</h3>
  				</div>
		{% endif %}
			<div class="panel-body">
				<p>{{ sale.salestext }}</p>
				<small>{% if sale.datecr %}{{ sale.datecr|date('Y-m-d') }}{% endif %}</small>
				{% if app.session.get('login') %}
        		<a href="{{ path('sale_edit', { 'id': sale.id }) }}">Править</a>
				{% endif %}
			</div>
			</div>
	{%endfor%}
<nav>
    {{ knp_pagination_render(pagination) }}
</nav>		

</div>
{% endblock %}