{% extends 'SkahrSaltCityBundle::base.html.twig' %}
{% block title %}Акции{% endblock %}
{% block body -%}
<div class="container">
    <h1>События</h1>
	{% if app.session.get('login') %}
	<a href="{{ path('sale_new') }}">Создать новое событие</a>
	<br/>
	{% endif %}

	{% for sale in pagination %}
		{% if sale.cat %}
			<div class="panel panel-danger">
				<div class="panel-heading">
    				<h3 class="panel-title">Акция</h3>
		{% else %}
			<div class="panel panel-info">
				<div class="panel-heading">
    				<h3 class="panel-title">Новости</h3>
		{% endif %}
					{% if app.session.get('login') %}
						{% if sale.status %}
							<span class="label label-info">в ленте</span>
						{% else %}
							<span class="label label-warning">нет в ленте</span>
						{% endif %}
					{% endif %}
				</div>
		<div class="panel-body">
			<p>{{ sale.salestext }}</p>
			<small>{% if sale.datecr %}{{ sale.datecr|date('Y-m-d') }}{% endif %}</small>
			{% if app.session.get('login') %}
        		<a href="{{ path('sale_edit', { 'id': sale.id }) }}">Править</a>
			{% endif %}
		</div>
			</div>
	{%endfor%}
<nav>
    {{ knp_pagination_render(pagination) }}
</nav>		

</div>
{% endblock %}